%table.post{id: "post_#{post.id}"}
  %td.votes
    - if post.image.present?
      .thumbnail
        = link_to post.image.url do 
          = image_tag post.image.thumb.url 
    .upvote= link_to "+", post_upvote_path(post), remote: true, data: { type: :json }, class: "post-link"
    .vote-count= post.decorate.total_votes
    .downvote= link_to "-", post_downvote_path(post), remote: true, data: { type: :json }, class: "post-link"
  %td.content
    .title= link_to post.title, post
    .body= post.body
    .user= "Posted by #{post.user.username}"
    .tags
      - post.tag_list.each do |tag|
        = link_to display_tag(tag), tag_path(tag)
    .social= social_share_button_tag(post.title)
    .actions= link_to "Edit", edit_post_path(post), class: 'btn btn-sm btn-default' if can_edit?(post)
