%table.post
  %td.votes
    .upvote= link_to "+", post_upvote_path(post)
    .vote-count= post.votes_for.up.size - post.votes_for.down.size
    .downvote= link_to "-", post_downvote_path(post)
  %td.content
    .title= link_to post.title, post
    .body= post.body
    .user= "Posted by #{post.user.username}"
    .actions= link_to "Edit", edit_post_path(post), class: 'btn btn-sm btn-default' if can_edit?(post)

