.post
    .title= link_to post.title, post
    .body= post.body
    .user= "Posted by #{post.user.username}"
    .actions= link_to "Edit", edit_post_path(post), class: 'btn btn-sm btn-default' if user_signed_in? && (current_user.id == post.user_id)

