%table.post{id: "post_#{post.id}"}
  %td.votes.text-center
    - if post.image.present?
      .thumbnail
        = link_to post.image.url do
          = image_tag post.image.thumb.url
    .upvote
      = link_to post_upvote_path(post), remote: true, data: { type: :json }, class: "post-link" do
        %i.fa.fa-lg.fa-thumbs-up

    .vote-count= post.decorate.total_votes
    .downvote
      = link_to post_downvote_path(post), remote: true, data: { type: :json }, class: "post-link" do
        %i.fa.fa-lg.fa-thumbs-down
  %td.content
    .title
      = link_to post.title, post
      .social= social_share_button_tag(post.title)
    .post-details
      .body= post.body
      .posted-by= "Posted by #{post.user.username} #{time_ago_in_words(post.created_at)} ago"
      .tags
        - post.tag_list.each do |tag|
          = link_to display_tag(tag), tag_path(tag)
      .actions= link_to "Edit", edit_post_path(post), class: 'btn btn-sm btn-default' if policy(post).update?
%p
  =link_to "Add a comment", "#", class: "btn btn-default add-comment", data: { post_id: post.id }
  .comment-form{ id: "comment-form-#{post.id}" }= render 'comments/form', post: post
  %div{ id: "comments-post-#{post.id}" }
    - if post.comments.any?
      - post.comments.each do |comment|
        = render comment
