= render 'shared/user_tags'
= render 'shared/all_tags'
= render 'search'

%p.sort-by Sort by
.posts-buttons
  = link_to "best", "#{request.path}?best=true", class: "post-button"
  = link_to "new", request.path, class: "post-button"
  = link_to "Submit new post", new_post_path, class: "post-button submit-btn"

.posts
  - self.posts.each do |post|
    = render post

.infinite-scrolling.text-center
  = will_paginate self.posts

