= render 'shared/user_tags'
= render 'shared/all_tags'
= link_to "Submit new post", new_post_path, class: "btn btn-primary btn-submit"
= render 'search'

.posts
  - self.posts.each do |post|
    = render post

.infinite-scrolling.text-center
  = will_paginate self.posts

