- if user_signed_in?
  %li= image_tag current_user.avatar.thumb
  %li= link_to 'Edit account', edit_user_registration_path
  %li
    = link_to destroy_user_session_path, :method=>'delete' do
      %i.fa.fa-lg.fa-sign-out
- else
  %li
    = link_to new_user_session_path do
      %i.fa.fa-lg.fa-sign-in

  %li= link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  - if current_user.try(:admin?)
    %li= link_to 'Users', users_path

